<!-- Navigation Bar -->
<nav>
    <a href="/" id="nav-logo" class="logo">
        <img id="icon" src="/public/Images/logo.png" alt="Logo"/>
        <h3>Lalenz Foodies</h3>
    </a>
    <ul>
        <li><a class="home" href="/">Home</a></li>
        <li><a class="about" href="#about">About</a></li>
        <li><a class="menu" href="/menu">Menu</a></li>
        <li><a class="contact" href="#contact">Contact</a></li>
    </ul>
    <div id="right">Call/text: +(63) 905-668-5447 or (054) 631-1390</div>
</nav>